/* .eml styles */
.embed-eml {
  background: var(--code-background);
  border-radius: var(--radius-s);
  padding: var(--size-4-2) var(--size-4-4);
}

.eml-header {
  padding: 0 0 1em 1em;
}

.eml-header .eml-head-label {
  font-weight: bold;
  text-transform: capitalize;
}

.eml-header .eml-head-label::after {
  content:  " : ";
}

.embed-eml .eml-content {
  width: 100%;
}

.embed-eml .mobile-eml-content {
  overflow: auto;
}
